<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo post request</title>
</head>
<body>
    <p>Your name: <%= data.username %> </p>
    <p>Your email: <%= data.email %></p>
    <p>Your phone: <%= data.phonenumber %></p>
</body>
</html>