<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="name"> Name:
            <input type="text" name="name">
        </label>
        <label for="rank"> Rank:
            <input type="text" name="rank">
        </label>
        <label for="available"> Available:
            <input type="text" name="available">
        </label>
        <label> Coordinates:
            <input type="text" name="lat">
            <input type="text" name="long">  
        </label>
        <button>Submit</button>
    </form>
</body>
</html>