<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Them sinh vien</title>
</head>
<body>
    <form action="../../sinhvien/sua" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="txtHoten" value=<%= sv.hoten %>>
        <input type="text" name="txtEmail" value=<%= sv.email %>>
        <input type="hidden" name="txtId" value=<%= sv.id %>>
        <input type="submit" name="btnSua" value="Sua">
    </form>
</body>
</html>